<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="idDao" class="dao.InterviewFromCSVdao">
        <constructor-arg name = "url" value = "homework1\\src\\main\\resources\\Can you stand up for the truth.csv"/>
    </bean>

    <bean id="idService" class="service.CanYouStandUpForTheTruth">
        <constructor-arg name="dao" ref="idDao"/>
    </bean>

</beans>
